{% set pagetitle = record.title %}
{% set display_headertitle = false %}
{% set main_width = 12 %}
{% set layout_aside = "none" %}
{% extends 'partials/_master.twig' %}

{% block main %}

{% set chiefs = [] %}
{% set vice_chiefs = [] %}
{% set youth_chiefs = [] %}
{% set youth_vice_chiefs = [] %}
{% set children_chiefs = [] %}
{% set children_vice_chiefs = [] %}

{% for ap in record.appointes %}
  {% if ap.get('task') == 'department_chief' %}
    {% set chiefs = chiefs|merge([ap]) %}
  {% elseif ap.get('task') == 'vice_department_chief' %}
    {% set vice_chiefs = vice_chiefs|merge([ap]) %}
  {% elseif ap.get('task') == 'youth_chief' %}
    {% set youth_chiefs = youth_chiefs|merge([ap]) %}
  {% elseif ap.get('task') == 'youth_vice_chief' %}
    {% set youth_vice_chiefs = youth_vice_chiefs|merge([ap]) %}
  {% elseif ap.get('task') == 'children_chief' %}
    {% set children_chiefs = children_chiefs|merge([ap]) %}
  {% elseif ap.get('task') == 'vice_children_chief' %}
    {% set children_vice_chiefs = children_vice_chiefs|merge([ap]) %}
  {% endif %}
{% endfor %}

{% set route = app.request.get('_route') %}
<ul class="vertical medium-horizontal menu accordion-menu" data-accordion-menu data-responsive-menu="accordion medium-dropdown" id="operations-tabs">
  <li {% if(route == "departmentnews" or route == "contentlink") %}class="active"{% endif %}><a href="{{record.link}}/news">News</a></li>
  <li {% if(route == "departmentactive") %}class="active"{% endif %}><a href="{{record.link}}/active">Einsatzabteilung</a></li>
  {% if record.showyouth %}
    {% set lcl = "departments." ~ record.title|replace({'Feuerwehr ': ""})|lower ~ ".youth.title" %}
    {% set translated_string = __(lcl) %}
    {% if translated_string == lcl %}
        {% set translated_string = "Jugendfeuerwehr" %}
    {% endif %}
    <li {% if(route == "departmentyouth") %}class="active"{% endif %}><a href="{{record.link}}/youth">{{ translated_string }}</a></li>
  {% endif %}
  {% if record.showchildren %}
    <li {% if(route == "departmentchildren") %}class="active"{% endif %}><a href="{{record.link}}/children">Kinderfeuerwehr</a></li>
  {% endif %}
  <li {% if(route == "departmentvehicles") %}class="active"{% endif %}><a href="{{record.link}}/vehicles">Fahrzeuge</a></li>
</ul>

{% if route == "departmentnews" or route == "contentlink" %}
  <div class="row">
    <div class="large-12 columns">
      {% if record.relation.entries is defined %}
        {% set ids = record.relation.entries|join(" || ") %}
        {% setcontent entries = "entries" where { id: ids } allowpaging limit 5 %}

        {{ include('partials/_news.twig', { 'entries': entries })}}
      {% else %}
        <h2>Leider sind noch keine News vorhanden.</h2>
      {% endif %}
    </div>
  </div>
{% elseif route == "departmentactive" %}
  <div class="row">
    <div class="large-12 columns">
      {{record.activedescription}}
      {% for ap in chiefs %}
        {{ include('partials/_person.twig', { 'record': ap, 'task': 'Wehrführer/in' }) }}
      {% endfor %}

      {% for ap in vice_chiefs %}
        {{ include('partials/_person.twig', { 'record': ap, 'task': 'Stellv. Wehrführer/in' }) }}
      {% endfor %}
      {% if record.schedule %}
        Aktueller Dienstplan: <a href="/files/{{record.schedule}}">Download</a>
      {% endif %}
    </div>
  </div>
{% elseif route == "departmentyouth" and record.showyouth %}
    <div class="row">
      <div class="large-12 columns">
        {{record.youthdescription}}
        {% for ap in youth_chiefs %}
          {{ include('partials/_person.twig', { 'record': ap, 'task': 'Jugendfeuerwehrwart/in' }) }}
        {% endfor %}

        {% for ap in youth_vice_chiefs %}
          {{ include('partials/_person.twig', { 'record': ap, 'task': 'Betreuer/in' }) }}
        {% endfor %}
      </div>
    </div>
{% elseif route == "departmentchildren" and record.showchildren %}
    <div class="row">
      <div class="large-12 columns">
        {{record.childrendescription}}
        {% for ap in children_chiefs %}
          {{ include('partials/_person.twig', { 'record': ap, 'task': 'Kinderfeuerwehrwart/in' }) }}
        {% endfor %}

        {% for ap in children_vice_chiefs %}
          {{ include('partials/_person.twig', { 'record': ap, 'task': 'Betreuer/in' }) }}
        {% endfor %}
      </div>
    </div>
{% elseif route == "departmentvehicles" %}
    <div class="row">
      <div class="large-12 columns">
        {% for vehicle in record.related('vehicles') %}
          {{ include('partials/_vehicle_small.twig', { 'record': vehicle }) }}
        {% endfor %}
      </div>
    </div>
{% else %}

{% endif %}



{% endblock main %}
{% block sub_main %}

<div class="row department-additional-info">
  <div class="large-6 columns">
    <div id="map" style="width: 100%; height: 300px;"></div>
  </div>
  <div class="large-6 text-center columns">
    {% if record.facebook %}
      <div class="fb-page" data-href="{{record.facebook}}" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="{{record.facebook}}" class="fb-xfbml-parse-ignore"><a href="{{record.facebook}}">{{record.title}}</a></blockquote></div>
    {% endif %}
    <div class="department-contact-info">
      <div class="row">
        <div class="small-12 columns"
          {% if record.coordinates.formatted_address is defined %}
            <span>{{record.coordinates.formatted_address|replace({', Germany': ""})}}</span>
          {% endif %}
        </div>
        <div class="small-12 columns">
          {% set mail_address = record.title|replace({'Feuerwehr ': ''})|lower ~ "@feuerwehr-frielendorf.de" %}
          <span>{{ include('partials/_email.twig', { 'email': mail_address }) }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock sub_main %}
{% block bottomincludes %}

  {% if record.coordinates.latitude is defined and record.coordinates.longitude is defined %}
    <script>
      var map;
      var marker;
      var myLatLng = {lat: {{ record.coordinates.latitude }}, lng: {{ record.coordinates.longitude }}};
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 14
        });

        marker = new google.maps.Marker({
          position: myLatLng,
          map: map
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{app.config.get('general/google_api_key')}}&callback=initMap"
    async defer></script>
  {% endif %}
{% endblock bottomincludes %}
