{% extends 'partials/_master.twig' %}
{% setcontent operationtype = "operationtypes" where { 'id': record.operationtype } returnsingle %}
{% block headincludes %}
  <meta property="og:url" content="{{paths.canonicalurl}}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{record.title}}" />
  <meta property="og:description" content="{{operationtype.title}} | {{ record.beginat|localedatetime('%d.%m.%Y %H:%M Uhr') }} | {{record.location}}" />
  {% if record.imagelist is not empty %}
    <meta property="og:image" content="{{paths.hosturl}}{{record.imagelist[0]|image}}" />
  {% endif %}
{% endblock headincludes %}
{% block main %}

    <h2>{{ record.title }}</h2>

    {# Output all fields, in the order as defined in the contenttype.
       To change the generated html and configure the options, see:
       https://docs.bolt.cm/templates/fields-tag #}
  <table>
     <tbody>
      <tr>
        <td>Einsatzart</td>
        <td>{{operationtype.title}}</td>
      </tr>
      <tr>
        <td>Einsatzort</td>
        <td>{{record.location}}</td>
      </tr>
      <tr>
        <td>Alarmierung</td>
        <td>{{record.beginat|localedatetime('%d.%m.%Y %H:%M Uhr')}}</td>
      </tr>
      <tr>
        <td>Einsatzende</td>
        <td>{{record.endat|localedatetime('%d.%m.%Y %H:%M Uhr')}}</td>
      </tr>
      <tr>
        <td>Einsatzleiter</td>
        <td>{{record.incidentcommander}}</td>
      </tr>
      {% if record.relation is not null %}
        {% include 'partials/_operation_vehicles.twig' with { 'intern': true, 'record': record } %}
        {% include 'partials/_operation_vehicles.twig' with { 'intern': false, 'record': record } %}
      {% endif %}
      {% if record.coordinates is not empty and record.coordinates.latitude and record.coordinates.longitude %}
        <tr>
          <td colspan="2">
            <div id="map" style="width: 100%; height: 300px;"></div>
          </td>
        </tr>
      {% endif %}
      {% if record.description is not empty %}
        <tr>
          <td colspan="2">
            {{record.description|markdown}}
          </td>
        </tr>
      {% endif %}
     </tbody>
   </table>
   {% include 'partials/_imagelist_popup.twig' with { 'record': record } %}




    {% include 'partials/_recordfooter.twig' with { 'record': record, 'extended': true } %}

{% endblock main %}

{% block bottomincludes %}

  {% if record.coordinates is not empty and record.coordinates.latitude and record.coordinates.longitude %}
    <script>
      var map;
      var marker;
      var myLatLng = {lat: {{ record.coordinates.latitude }}, lng: {{ record.coordinates.longitude }}};
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 14
        });

        marker = new google.maps.Marker({
          position: myLatLng,
          map: map
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{app.config.get('general/google_api_key')}}&callback=initMap"
    async defer></script>
  {% endif %}
{% endblock bottomincludes %}
