{% extends 'partials/_master.twig' %}
{% block headincludes %}
  <meta property="og:url" content="{{paths.canonicalurl}}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{record.title}}" />
  <meta property="og:description" content="{{record.teaser|markdown}}" />
  {% if record.imagelist is not empty %}
    <meta property="og:image" content="{{paths.hosturl}}{{record.imagelist[0]|image}}" />
  {% endif %}
{% endblock headincludes %}
{% block main %}

<article>

    <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>


    {{ record.body|markdown }}

    {% include 'partials/_imagelist_popup.twig' with { 'record': record } %}

    <p class="meta"><a href="{{ record.link }}">Link</a> -
        Verfasst von {{ record.user.displayname }}
        am {{ record.datepublish|date("d.M.Y")}}</p>

</article>

    {% include 'partials/_recordfooter.twig' with { 'record': record, 'extended': true } %}

{% endblock main %}
