{% extends 'partials/_master.twig' %}

{% block main %}
  <article class="greeting" style="display: none;">
    <h2 style="text-align: center;">{{record.title}}</h2>

    <div style="position: relative; height: 180px;">ALLE BRAUCHEN</br>DIE FEUERWEHR</br>BRAUCHT DICH<img class="image" src="{{record.image|image()}}" style="width: 240px; position: absolute; top: 0; right: 0;" alt="Header image"></div>
    {{ record.body|markdown }}
    {% set signature = paths.theme ~ 'images/signature.png' %}
    Herzlichst<br>
    Ihr<br>
    <img class="image" src="{{signature}}" style="margin-left: 0" alt="Signature">
    Thorsten Vaupel<br>Bürgermeister
  </article>

  <div class="row" id="toNews" style="display: none;">
    <div style="text-align: center;" class="small-12">
      <button type="button" class="button">Zu den News</button>
    </div>
  </div>

  <div class="homepage-entries">
    {% setcontent entries = "entries" where { categories: "Startseite" } allowpaging limit 5 %}
    {{ include('partials/_news.twig', { 'entries': entries })}}
  </div>

  <script type="text/javascript">
    const greeting = document.querySelector('.greeting')
    const homepageEntries = document.querySelector('.homepage-entries');
    const toNewsBtn = document.querySelector("#toNews");
    const myStorage = window.localStorage;
    const greetingHidden = myStorage.getItem("greeting-hidden");

    if(greetingHidden == null){
      greeting.style.display = "block";
      homepageEntries.style.display = "none";
      toNewsBtn.style.display = "block";
    }

    toNewsBtn.addEventListener("click", function(event){

      greeting.style.display = "none";
      homepageEntries.style.display = "block";
      event.target.style.display = "none";

      myStorage.setItem("greeting-hidden", "true");
    });
  </script>
{% endblock main %}
