{% extends 'partials/_master.twig' %}

{% block main %}
        {% set requestedYear = app.request.query.get('year') %}
        {% if requestedYear is null %}
          {% set requestedYear = "now"|date("Y") %}
        {% endif %}
        {% set requestedDepartment = app.request.query.get('department')|default("") %}
        {% set requestedType = app.request.query.get('type')|default("") %}
        <form id="operations" method="get">
          <div class="row">
            <div class="medium-4 columns">
              <label>
                <select name="year" onchange="this.form.submit()">
                  {% set minimumYear = 2010 %}
                  {% set currentYear = "now"|date("Y") %}

                  {% for year in (currentYear)..minimumYear %}
                     <option {% if requestedYear == year %}selected{% endif %} value="{{year}}">{{year}}</option>
                  {% endfor %}
                </select>
              </label>
            </div>
            <div class="medium-4 columns">
              <label>
                <select name="department" onchange="this.form.submit()">
                  {% setcontent departments = 'departments' where { intern: true, title: 'Feuerwehr%' } orderby 'title' %}
                  <option value="">Alle Feuerwehren</option>
                  {% for department in departments %}
                    <option {% if requestedDepartment == department.id %}selected{% endif %} value="{{department.id}}">{{department.title}}</option>
                  {% endfor %}
                </select>
              </label>
            </div>
            <div class="medium-4 columns">
              <label>
                <select name="type" onchange="this.form.submit()">
                  {% setcontent optypes = 'operationtypes' orderby 'title' %}
                  <option value="">Alle Einsatzarten</option>
                  {% for optype in optypes %}
                    <option {% if requestedType == optype.id %}selected{% endif %} value="{{optype.id}}">{{optype.title}}</option>
                  {% endfor %}
                </select>
              </label>
            </div>
          </div>
        </form>
        {% set lastYear = requestedYear - 1 %}
        {% set nextYear = requestedYear + 1 %}
        {% set fdate = '> 31-12-' ~ lastYear ~ ' 23:59:59 && < 01-01-' ~ nextYear %}
        {% if requestedType == "" %}
          {% setcontent records = 'operations' where { beginat: fdate } orderby '-beginat' %}
        {% else %}
          {% setcontent records = 'operations' where { beginat: fdate, operationtype: requestedType } orderby '-beginat' %}
        {% endif %}
        {% set operations = [] %}

        {% for record in records %}
            {% if requestedDepartment == "" %}
              {% set operations = operations|merge([record]) %}
            {% else %}
              {% set vehicles = record.related('vehicles') %}
              {% set notFound = true %}
              {% for vehicle in vehicles if notFound %}
                {% if vehicle.relation.departments[0] == requestedDepartment %}
                  {% set operations = operations|merge([record]) %}
                  {% set notFound = false %}
                {% endif %}
              {% endfor %}
            {% endif %}
        {% endfor %}

        <ul class="no-bullet operations-list">
        {% for record in operations %}
          <li>
            <a href="{{ record.link }}">
                <article>
                    <span class="number">#{{loop.revindex}}</span>
                    <span class="title">{{record.title}}</span>
                    <span class="date">{{record.beginat|localedatetime('%d.%m.%y')}}</span>
                    <span class="operation-location">{{record.location}}</span>
                </article>
             </a>
          </li>

        {% else %}
            <article>
                <h2>Keine Einsätze gefunden</h2>
            </article>
        {% endfor %}
        </ul>

{% endblock main %}
