{% set main_width = main_width|default(theme.layout.main_width)|default(8) %}
{% set aside_width = theme.layout.aside_width|default(4) %}
{% set layout_aside = layout_aside|default(theme.layout.aside) %}
<!doctype html>
<html class="no-js" lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
           sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>
            {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
                {{ app.config.get('general/sitename') -}}
            {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif -%}
        </title>
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" href="{{ paths.theme }}css/foundation.css">
        <link rel="stylesheet" href="{{ paths.theme }}css/theme.css">
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:700,700italic' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">
        {% block headincludes %}
        {% endblock headincludes %}
    </head>
    <body>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.7&appId=163356127061844";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

        {% block body %}

            {% if theme.layout.variant != 'wide' %}
                <div class="row">
            {% endif %}

            {{ include('partials/_topbar.twig') }}
            {{ include('partials/_header.twig') }}

            {% if theme.layout.variant != 'wide' %}
                </div>
            {% endif %}

            <div class="row main-row">

                {% if layout_aside == "left" %}
                    {{ include('partials/_aside.twig') }}
                {% endif %}

                <div class="{% if layout_aside not in ['left', 'right'] %}large-centered{% endif %} large-{{ main_width }} columns main-section">

                    {{ widgets('main_top') }}

                    {% block main %}
                    {% endblock main %}

                    {{ widgets('main_bottom') }}

                </div>

                {% if layout_aside == "right" %}
                    {{ include('partials/_aside.twig') }}
                {% endif %}

            </div>
            {% block sub_main %}
            {% endblock sub_main %}

        {% endblock body %}

        {{ include('partials/_footer.twig') }}

        {% block bottomincludes %}
        {% endblock bottomincludes %}
    </body>
</html>
