{% for entry in entries %}
  {% if loop.index0 is divisibleby(2) %}
    <div class="row">
  {% endif %}
    <div class="large-6 columns">
      <article class="news-excerpts">
          <h3><a href="{{ entry.link }}">{{ entry.title }}</a></h3>

          {% if entry.imagelist is not empty and entry.imagelist[0] %}
            {% if loop.index0 is divisibleby(2) %}
              {% set float = "left" %}
            {% else %}
              {% set float = "right" %}
            {% endif %}
            <a href="{{image(entry.imagelist[0].filename)}}" class="magnific" title="{{entry.imagelist[0].title}}">
              <img style="float: {{float}};" src="{{thumbnail(entry.imagelist[0].filename)}}" title="{{entry.imagelist[0].title}}">
            </a>
          {% endif %}
          {{ entry.teaser }}

          <p class="meta"><a href="{{ entry.link }}">Mehr...</a> -
          Verfasst von {{ entry.user.displayname }}
          am {{ entry.datepublish|date("d.m.Y")}}</p>

      </article>
    </div>
  {% if loop.index0 is not divisibleby(2) or loop.last %}
    </div> {# /row #}
  {% endif %}
{% else %}
  <h2>Leider sind noch keine News vorhanden.</h2>
{% endfor %}
{{ pager() }}
