{% for entry in entries %}
  <div class="large-6 columns">
    <article class="news-excerpts">
        <h3><a href="{{ entry.link }}">{{ entry.title }}</a></h3>

        {% if entry.imagelist is not empty and entry.imagelist[0] %}
          {% if loop.index0 is divisibleby(2) %}
            {% set float = "left" %}
          {% else %}
            {% set float = "right" %}
          {% endif %}
          <img style="float: {{float}};" src="{{thumbnail(entry.imagelist[0].filename)}}">
        {% endif %}
        {{ entry.excerpt }}

        <p class="meta"><a href="{{ entry.link }}">Mehr...</a> -
        Verfasst von {{ entry.user.displayname }}
        am {{ entry.datepublish|date("d.m.Y")}}</p>

    </article>
  </div>
{% else %}
  <h2>Leider sind noch keine News vorhanden.</h2>
{% endfor %}
{{ pager() }}
