{# This file is inserted as the 'footer' of each listed record. #}
<p class="meta">
    {% if record.editlink() %}
        <span class="edit-link"><a href="{{ record.editlink() }}"><strong>Bearbeiten</strong></a></span> -
    {% endif %}
    {{ __('general.phrase.written-by-on', {
        '%name%': record.user.displayname|default(__('Unknown')),
        '%date%': record.datepublish|localedatetime('%A, %d.%m.%Y')
    }) }}
</p>

{% if extended|default() %}

    {% set previous = record.previous('id') %}
    {% set next = record.next('id') %}
    {% if previous or next %}
        <p class="meta">
            {% if previous %}
                <a href="{{ previous.link }}">&laquo; {{ previous.title }}</a>
            {% endif %}
            {% if previous and next %}
            -
            {% endif %}
            {% if next %}
                <a href="{{ next.link }}">{{ next.title }} &raquo;</a>
            {% endif %}
        </p>
    {% endif %}
{% endif %}
