<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      {% if vehicle.imagelist is empty %}
        {% set image_url = paths.theme ~ "images/logo_ea.gif" %}
        <img src="{{image_url}}">
      {% else %}
        {{ vechiles.imagelist[0]|thumbnail(480, 480) }}
      {% endif %}
    </div>
  </div>
  <div class="media-object-section">
    <h6>{{vehicle.title}} ({{vehicle.shorttitle}})</h6>
    <span>Funkrufname: {{vehicle.radiocode}}</span>
  </div>
</div>
