<div class="media-object row">
  <div class="small-12 medium-6 columns">
    <div class="media-object-section">
      <div class="thumbnail">
        {% if vehicle.imagelist is empty %}
          <img src="https://dummyimage.com/250/000/fff.jpg&text=Bild+folgt">
        {% else %}
          <img src="{{ vehicle.imagelist[0]|thumbnail(250, 250) }}">
        {% endif %}
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 columns">
    <div class="media-object-section">
      <h6>{{vehicle.title}} {% if vehicle.shorttitle is not empty %}({{vehicle.shorttitle}}){% endif %}</h6>
      {% if vehicle.radiocode is not empty %}
        <span><b>Funkrufname:</b> {{vehicle.radiocode}}</span></br>
      {% endif %}
      {% if vehicle.manufacturer is not empty %}
        <span><b>Typ:</b> {{vehicle.manufacturer}}</span></br>
      {% endif %}
      {% if vehicle.personnel is not empty %}
        <span><b>Besatzung:</b> {{vehicle.personnel}}</span></br>
      {% endif %}
      {% if vehicle.description is not empty %}
        {{vehicle.description|markdown}}
      {% endif %}
    </div>
  </div>
</div>
